<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <span>Deletando o Carro do Cliente</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Modelo</mat-label>
                <input matInput name="modelo" [(ngModel)]="carros.modelo" disabled>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Marca: </mat-label>
                <input matInput name="marca" [(ngModel)]="carros.marca" disabled>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Placa: </mat-label>
                <input matInput name="placa" [(ngModel)]="carros.placa" disabled>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Potencia Motor: </mat-label>
                <input matInput name="potencia" [(ngModel)]="carros.potencia" disabled>
            </mat-form-field>
            <div class="buttons">
                <button class="mat-elevation-z8" mat-raised-button color="primary" (click)="delete()">Deletar</button>
                <button class="mat-elevation-z8" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>